<div class="box">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="well">
			<h3>Posts</h3>
			<div ng-if="setPost.form">
				<input required="required" placeholder="Enter title here" type="text" name = "title" class="form-control" ng-model="post.title"/>
				<textarea ui-tinymce="tinymceOptions" ng-model="post.body"></textarea>
				<button class="btn btn-primary" style="margin: 10px auto" ng-click="save(post.id)">Save</button>
				<button class="btn btn-default" style="margin: 10px auto" ng-click="setPost.form = !setPost.form">Cancel</button>
			</div>
			<div ng-if="!setPost.form">
				<div class="list-group">
					<div class="list-group-item">
						<p><h3>{{post.title}}</h3></p>
						<p>{{post.created_at | myDate}} By  <a href="/users/{{ post.author.id }}">{{post.author.name}}</a></p>
					</div>
					<div class="list-group-item">
						<div ng-bind-html="post.body | unsafe"></div>
					</div>
					<button class="btn btn-primary" style="margin: 10px auto" ng-if="isAuthor" ng-click="edit()">Edit</button>
					<button class="btn btn-danger" style="margin: 10px auto" ng-if="isAuthor" ng-click="delete(post.id)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>