<div class="box">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h3>Register</h3>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-md-4 control-label">Name</label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="name" ng-model="frmRegister.name" placeholder="Enter Name" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">E-Mail Address</label>
					<div class="col-md-6">
						<input type="email" class="form-control" name="email" ng-model="frmRegister.email" placeholder="Enter Email" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Password</label>
					<div class="col-md-6">
						<input type="password" class="form-control" name="password" placeholder="Enter Password" ng-model="frmRegister.password" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Confirm Password</label>
					<div class="col-md-6">
						<input type="password" class="form-control" name="password_confirm" ng-model="frmRegister.password_confirm" placeholder="Confirm Password" required>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-6 col-md-offset-4">
						<button class="btn btn-primary" ng-click="register()">
							Register
						</button>
						<button class="btn btn-default" ng-click="$location.path('/login')">
							Login
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>